@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #ffffff;
}

.fixed {
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
  width: 100%;
  position: fixed;
  z-index: 2;
  opacity: 5;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.796);

}

.nofixed {
  transition: 0.1s linear;
  position: absolute;
  transition: 0.1s linear;
  width: 100%;
  /* background-color: #ffffff99; */
  background-color: #ffffff;
  font-weight: 600;
  color: #ffffff;

}

nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 82px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo a {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.logo {
  /* width: 430px; */
  width: 270px;
}

.logo img {
  width: 75%;
  margin: 0 auto;
  padding-top: 0;

}

.wrapper .nav-links {
  display: inline-flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: #000058;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

svg {
  width: 10px;
}

.nav-links li a:hover {
  background: #c5e2ff;

}

.nav-links .mobile-item {
  display: none;
}

.nav-links .drop-menu {
  position: absolute;
  background: #ffffff;
  color: #000058;
  width: 253px;
  line-height: 45px;
  padding: 11px;
  z-index: 1;
  top: 90px;
  margin: 12px auto;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

#brr {
  height: 2rem;
  width: 84px;
  margin: 20px 15px auto;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 5px -1px #259ed7;
  box-shadow: 0 2px 5px -1px #259ed7;
  font-size: 8px;
  line-height: 35px;
  letter-spacing: -.00625em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: poppins;
  margin-right: 15px;
  text-transform: uppercase;
  background-color: #1377bc;
  color: #fff;
  cursor: pointer;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;

}


@media screen and (max-width: 1095px) {

  .logo img {

    width: 75%;
    padding-top: 0;
    margin-left: -51px;

  }

  .fas {
    color: #000000;

  }

  .wrapper .btn {
    display: block;
  }

  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    /* background: #ffffff; */
    background: #1377bc;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }


  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f8f8f8;
  }

  ::-webkit-scrollbar-thumb {
    background: #999999;
  }

  #menu-btn:checked~.nav-links {
    left: 0%;
  }

  #menu-btn:checked~.btn.menu-btn {
    display: none;
  }

  #close-btn:checked~.btn.menu-btn {
    display: block;
  }

  .nav-links li {
    margin: 7px 10px;
    padding: 0px;
    height: auto;
  }

  .nav-links li a {
    padding: 0 20px;
    /* display: block; */
    font-size: 18px;
    color: #ffffff;

  }

  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    margin: 0px auto;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }

  #showDrop:checked~.drop-menu,
  #showDrop1:checked~.drop-menu,
  #showDrop2:checked~.drop-menu,
  #showDrop3:checked~.drop-menu {
    max-height: 100%;
  }

  .nav-links .desktop-item {
    display: none;
  }

  .nav-links .mobile-item {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .nav-links .mobile-item:hover {
    background: #1377bc;
  }

  .drop-menu {
    background: #1377bc;

  }

  .drop-menu li {
    margin: 0;
  }

  .drop-menu li a {
    border-radius: 5px;
    font-size: 14px;
  }

  .nav-links .drop-menu {
    background: #1377bc;
    padding: 0;

  }

  .nav-links li:hover .drop-menu {
    background: #1377bc;
  }


  #brr {
    box-shadow: 0 2px 5px -1px #ffffff;
    background-color: #000000;
    height: 42px;
    width: 140px;
    font-size: 15px;
  }

}

nav input {
  display: none;
}

.body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}

.body-text div {
  font-size: 45px;
  font-weight: 600;
}