<div class="banner">
    <span>MANAGEMENT TEAM</span>
</div>

<br>

<div class="main"><br>
    <div class="row1">

        <!-- <div class="picframe"> -->
        <div class="picture1"><img src="https://techadgroup.com/images/tagwebsite/boss.jpg" width="100%" height="100%">
            <div class="writing1">Chief Executive Officer <br> <span class="name"> Ernest Brown</span> </div>
        </div>
        <!-- </div> -->

        <div class="profile">

            <h3>PROFILE</h3>

            <span class="witten-text">
                Ernest Brown leads Technology Advantage Group as the Chief
                Executive Officer with exceptional experience in the Digital Economy
                Landscape. He is a seasoned Information Technology Entrepreneur
                with over 20 years’ experience in the Digital Landscape. <br><br>
                In his previous role, he was the C.E.O of Broadband Home Limited,
                Internet and Data Communications Service provider for 10 years. <br><br>
                Based on his experience in the Digital Space in Ghana, he has served
                on various boards and Institutions in the Communications Sector of
                Ghana before becoming the Chief Executive Officer of Technology
                Advantage Group and has held senior positions in his line of expertise. <br><br>
                He served as a Board member of Ghana Investment Fund for
                Electronic Communications (GIFEC), an agency under the Ministry of
                Communication, Board member of National Information Technology
                Agency(NITA) as Chairman of Technical sub-committee of the board.
                He was also the President of Internet Service Providers Association for
                6 years. Ernest Brown also chaired a Committee of Standardization
                for IT and Technology Services for Ghana Standards Authority. <br><br>
                Furthermore, he was the Convener of Ghana Network Operators
                Group (GHNOG) which is an Association of Network Operators –
                both Private and Government where he led a team of young network
                engineers to promote proper organizational network infrastructure. <br><br>
                He also managed and consulted for various local and international
                organizations, in the area of ICT, including Consulting for some
                Oil Companies in the establishment of a Tier 3 Data Centre and
                Visualization and Operations Control Rooms. <br><br>
                As part of his efforts in the Digital Space, Technology Advantage Group
                was adjudged the Emerging ICT Company of the Year and Emerging
                ICT Consulting Company of the Year 2020 and 2021 during the Ghana
                Information Technology and Telecoms Awards respectively. <br><br>
                Ernest Brown holds Computer Science and statistics degree from
                the University of Ghana, a Certificate in Distributed Systems from the
                International Centre for Theoretical Physics (ICTP) from Trieste, Italy,
                and a degree in Business in Emerging Markets from the University of
                Liverpool.
            </span>

        </div>

    </div>
    <div class="row1">

        <!-- <div class="picframe"> -->
        <div class="picture1"><img src="https://techadgroup.com/images/tagwebsite/manager2.jpg" width="100%"
                height="100%">
            <div class="writing1">Business Operations Manager <br> <span class="name"> Jemima Adutwumwaa Korang</span>
            </div>
        </div>
        <!-- </div> -->

        <div class="profile">

            <h3>PROFILE</h3>

            <span class="witten-text">
                Jemima Adutwumwaa Korang is a remarkable
                professional in Business Operations, with Strong
                Communication Skills, Customer Relationship
                Expertise, Robust Analytical Skills, Business
                Development Initiative Skills, Brand Awareness Ideas
                and Lead Generation. Her rich corporate experience
                revolves around industry sectors like Banking and
                Finance, Telecommunications, Events, Health and
                until recently Information Technology. <br><br> Amongst some
                of the top-rated companies she has worked for in
                different capacities are Vodafone and Barclays Bank
                now Absa. Her customer-centric fanaticism drives
                her to provide an unrivaled customer experience,
                exceeding client expectations and inherently her
                business-mindedness propels her to continuously
                increase numbers and enhance knowledge. <br><br>
                In her role as Customer Service and Head of Sales
                with a financial Institution, she revived dormant
                clients, rebuilt trust with clients, and designed exciting
                promotional packages. Prior to joining Technology
                Advantage Group, she was the lead Customer Service
                person handling customer related issues at Third
                EyeCare and Vision Centre, where she helped the
                company in dealing with some of the most difficult
                clients and won the hearts of many<br><br>
                She has over 10 years skill in customer relations
                and business growth and is currently the Business
                Operations Manager at Technology Advantage
                Group ensuring that the specific needs of clients and
                the company are met and/or exceeded.<br><br>
                She has a first-class Degree in Communication
                Studies from the Ghana Institute of Journalism, and
                a Project Management Professionals (PMP) from
                the Ghana Institute of Management and Public
                Administration.
            </span>

        </div>

    </div>

    <div class="row1">

        <!-- <div class="picframe"> -->
        <div class="picture1"><img src="https://techadgroup.com/images/tagwebsite/manager3.jpg" width="100%"
                height="100%">
            <div class="writing1">ADMIN / HR MANAGER <br> <span class="name">Rhodaline Doughan</span> </div>
        </div>
        <!-- </div> -->

        <div class="profile">

            <h3>PROFILE</h3>

            <span class="witten-text">
                Rhodaline Doughan is a Human Resource professional and
                currently the Administrative and Human Resource Manager
                of Technology Advantage Group. She is skilled in employee
                relations, customer service, and is keen on performance
                improvement.<br><br>
                She brings on board rich experience in identifying problems,
                finding solutions and nurturing job satisfaction. She oversees
                the recruitment and hiring of new staff, serving as a link
                between management and the employees, directing and
                coordinating the administrative functions of Technology
                Advantage Group. <br><br>
                Prior to joining Technology Advantage Group, Rhodaline
                worked with Bidvest Microfinance as the Customer Service
                Officer, where she increased sales, became acquainted with
                many, and addressed clients need effectively. <br><br>
                She has over seven (7) years work experience in dealing
                with staff and customers, coupled with great managing
                and reporting skills. She graduated with a Bsc in Human
                Resource Management from University of Cape Coast.
            </span>

        </div>

    </div>

    <div class="row1">

        <!-- <div class="picframe"> -->
        <div class="picture1"><img src="https://techadgroup.com/images/tagwebsite/manager4.jpg" width="100%"
                height="100%">
            <div class="writing1">Finance Manager<br> <span class="name"> Stephen Osae</span> </div>
        </div>
        <!-- </div> -->

        <div class="profile">

            <h3>PROFILE</h3>

            <span class="witten-text">
                Stephen Osae is a Chartered Accountant with vast experience in Accounting, Financial Management, Tax and Audit.  He has high competence in Financial management and very knowledgeable in the application of International Financial Reporting Standards.
                He has worked in various industries namely Manufacturing, Consulting Services, Information Technology and FMCG which has helped developed him into a dynamic finance executive with many years of working experience across business planning, financial accounting and reporting, budgeting and forecasting, internal controls, risk management, analysis of core business issues and providing solutions. He is currently the Finance
                                Manager of Technology Advantage Group Limited
                                responsible for the financial management duties of the
                                company. <br><br>
                                Prior to joining Technology Advantage Group Limited, he
                                worked as the senior accountant and consultant with Delta
                                Paper Mill Limited, Alpha Industries Limited, Sucatrade
                                Limited and Qualtek Limited, where he helped the companies
                                gain access to credit facilities to expand their business
                                operations and also diligently repaid the facilities without
                                any cashflow issues. He also successfully coordinated
                                numerous financial audits on company financial records by
                                both Tax agencies and credit granting agencies.<br><br>
                
                            </span>
                

        </div>

    </div>

    <div class="row1">

        <!-- <div class="picframe"> -->
        <div class="picture1"><img src="https://techadgroup.com/images/tagwebsite/manager5.jpg" width="100%"
                height="100%">
            <div class="writing1">Legal Officer <br> <span class="name"> Emmanuel Amissah</span> </div>
        </div>
        <!-- </div> -->

        <div class="profile">

            <h3>PROFILE</h3>

            <span class="witten-text">
                Emmanuel Amissah is a highly qualified and deeply
                experienced law professional. He has over 20 years working
                experience as a legal practitioner, having been called to the
                Ghana Bar in October 1995. <br><br>
                Emmanuel worked as an Associate with Kwaku Kyeremateng
                & Company, and as Senior Associate at Ghartey & Ghartey.
                He joined AB & David (formerly General Law Consult) as a
                Senior Associate, and rose to become a partner. He headed
                the Commercial Litigation & ADR, as well as the Property &
                Real Estate practice groups of the firm. <br><br>
                Emmanuel also had a stint at Scancom Limited (operators
                of MTN Ghana) as the Senior Manager (Site Acquisitions)
                from September 2008 to February 2010, and has been
                the in- house counsel for Facol Roads Limited (a road
                construction & furnishing company) since 1997, until he
                joined CDH Financial Holdings Ltd. <br><br>
                Emmanuel joined TAG as its Legal Officer in 2020 and is
                currently a Director/Secretary of Technology Advantage
                Group.
            </span>

        </div>

    </div>
</div>