<div class="banner">
    <span>CONSULTANCY SERVICES</span>
</div>

<br>

<div class="main">


    <div class="tabs">
        <input type="radio" name="tab" id="tab-nav-1" checked>
        <label for="tab-nav-1">ONE</label>

        <input type="radio" name="tab" id="tab-nav-2" checked>
        <label for="tab-nav-2">TWO</label>

        <input type="radio" name="tab" id="tab-nav-3" checked>
        <label for="tab-nav-3">THREE</label>
    </div>

   

    <div class="tab">
        <div>
            <h2>ONE</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ipsa explicabo debitis deserunt magnam quibusdam vero placeat repellendus, tenetur quaerat fugit soluta consequatur! Voluptatum consequuntur omnis et suscipit ipsa eum.</p>
        </div>

        <div>
            <h2>TWO</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ipsa explicabo debitis deserunt magnam quibusdam vero placeat repellendus, tenetur quaerat fugit soluta consequatur! Voluptatum consequuntur omnis et suscipit ipsa eum.</p>
        </div>

        <div>
            <h2>THREE</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ipsa explicabo debitis deserunt magnam quibusdam vero placeat repellendus, tenetur quaerat fugit soluta consequatur! Voluptatum consequuntur omnis et suscipit ipsa eum.</p>
        </div>
    </div>

    </div>