<div class="partner">

    <div class="row">
        <!-- <div class="part-item animated1 fadeInLeft"> -->
        <img src="https://techadgroup.com/images/tagwebsite/ckrlogo.png" alt="">
        <!-- </div> -->

        <!-- <div class="part-item animated1 fadeInTop"> -->
        <img src="https://techadgroup.com/images/tagwebsite/p2.png" alt="">

        <!-- </div> -->
        <!-- <div class="part-item animated1 fadeInRight"> -->
        <!-- <img src="https://saasfluxgh.com/images/tagwebsite/p10.png" alt=""> -->

        <img src="https://techadgroup.com/images/tagwebsite/p6.png" alt="">


        <!-- </div> -->

        <!-- <div class="part-item animated1 fadeInLeft"> -->
        <img src="https://techadgroup.com/images/tagwebsite/p9.png" alt="">

        <!-- </div> -->

        <!-- <div class="part-item animated1 fadeInRight"> -->
        <img src="https://techadgroup.com/images/tagwebsite/p5.png" alt="">

        

        <!-- </div> -->

        <!-- <img src="assets/images/p6.png" alt="">

            <img src="assets/images/p7.png" alt="">

            <img src="assets/images/p8.png" alt="">

            <img src="assets/images/p9.png" alt="">

            <img src="assets/images/p10.png" alt=""> -->




    </div>

    <!-- <div class="row">
           
          
        </div> -->


</div>