.partner {
    width: 90%;
    margin: 0 auto 12%;
    height: auto;
    display: flex;

}

.partner .row {
    display: flex;
    overflow: hidden;    
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

.partner img {
    width: 150px;
    margin-right: 20px;
    opacity: 0.5; /* Set the initial transparency level */
    transition: opacity 0.5s ease; /* Add a smooth transition effect */
    animation: slideLeft 15s linear infinite; /* Adjust the duration as needed */

}

.partner img:hover {
    opacity: 5; /* Set the opacity to 1 on hover to display in full color */
}




@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


.row {

    width: 100%;
    display: flex;
    margin: 5px;
    justify-content: space-evenly;
}

.row img {
    width: 130px;
}




/* media queries */
/* ipad mini */
@media (max-width: 1536px) {
    .partner {

        margin: 0 auto 12%;

    }

}

@media (max-width: 768px) {

    .partner {
        width: 50%;
        margin: 0 auto 20%;
        height: auto;
    }


    .row {

        width: 50%;
        margin: 0 auto;
        display: grid;
    }


}

@media (max-width: 425px) {

    .row {
        width: 100%;
    }

    .partner {
        margin: 0 auto 110%;

    }

}

@media (max-width: 375px) {
    .partner {
        margin: 0 auto 100%;

    }

}

@media (max-width: 320px) {}