<div class="banner">
    <span>About Us</span>
</div>

<br>

<div class="overall">


    <div class="brb">

        <div class="abtbanner animated1 fadeInRight">

            <img id="ceo" src="assets/images/grp.jpeg" alt="">

            <!-- put core values here -->
            <div class="core-values">

                <h3>Our Values</h3>

                <!-- <div class="values"> -->
                <img src="https://techadgroup.com/images/tagwebsite/cv1.png" alt="">
                <img src="https://techadgroup.com/images/tagwebsite/cv2.png" alt="">
                <img src="https://techadgroup.com/images/tagwebsite/cv3.png" alt="">
                <img src="https://techadgroup.com/images/tagwebsite/cv4.png" alt="">

                <!-- </div> -->
            </div><br>

            <!-- continuation images -->

            <div class="ourteam">


                <!-- <span class="written-text">

                    <h3>Our Vision</h3>

                    To be the biggest technology enabler for building the future of our customers. <br>
                </span> -->




            </div>

        </div>

        <div class="abtbanner">


            <div class="details animated1 fadeInLeft">


                <span class="written-text">
                    <h3>About Technology Advantage Group (TAG)</h3>

                    The team at Technology Advantage is equipped with a highly developed skillset acquired
                    over decades of experience not only in information and communication technology but also
                    in business processes across a range of industry sectors. <br>
                    This business experience makes us
                    uniquely positioned to offer solutions promising greater operational efficiency, productivity gains
                    and cost savings for each of our clients, regardless of their industry. <br><br>
                    As an established technology-intensive company, we pride ourselves in providing a comprehensive
                    suite of solutions comprising of infrastructure and data centre consultancy, hardware and software
                    solutions. Our team consistently delivers state-of-the-art solutions in various areas including,
                    but not limited to, integrated business solutions, system applications, product development,
                    Internet/Intranet applications and communication & network management services.
                    At Technology Advantage, we guarantee rapid, reliable and robust information technology
                    solutions that work.

                </span>

            </div>

            <!-- <span class="written-text">

                <h3>Mission</h3>

                Our Mission is to provide the best fully tested products, Solutions and partners for our customers. <br>
            </span> -->
        </div>

    </div>


    <!-- <div class="ourteam"> -->

    <!-- <h3>The Team</h3>

  <div class="we">
    <img src="https://saasfluxgh.com/images/tagwebsite/tag3.jpg" width="400px" style="border-radius: 20px;" alt="">

    <img src="https://saasfluxgh.com/images/tagwebsite/tag2.jpg" width="400px" style="border-radius: 20px;" alt="">


    <img src="https://saasfluxgh.com/images/tagwebsite/men.jpg" width="400px" style="border-radius: 20px;" alt="">


    <div>

    </div>

  </div> -->
    <!-- </div> -->

</div>