.banner {
    /* border: 1px solid grey; */
    width: 100%;
    height: 300px;
    background-image: url(src/assets/images/banc.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;

}

.banner span {
    position: absolute;
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    top: 25%;
}

.main {
    /* border: 1px solid grey; */
    width: 100%;
    margin: 0 auto 12%;
    height: auto;
    padding-top: auto;
    text-align: center;
    padding: 20px;
    -webkit-box-shadow: 0 10px 20px hsl(0deg 0% 67% / 15%);
    box-shadow: 0 10px 20px hsl(0deg 0% 67% / 15%);


}


h3 {
    font-size: 22px;
    font-family: poppins;
    font-weight: 700;
    color: #3d4756;
    line-height: 60px;
    margin: -12px auto;
    text-align: center;
}

.profile {
    /* border: 1px solid grey; */
    width: 70%;
    border-radius: 10px;
    margin: 0 auto;
    height: auto;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    color: #7688a2;
    font-family: poppins;
    padding: 20px;
    -webkit-box-shadow: 0 10px 20px hsl(0deg 0% 67% / 15%);
    box-shadow: 0 10px 20px hsl(0deg 0% 67% / 15%);
}


.written-text {
    margin-bottom: 40px;
    font-size: 11.5px;

}

@media (max-width: 1536px) {

    .main {
        margin: 0 auto 20%;

    }

}

@media (max-width: 768px) {

    .banner {

        width: 100%;
        height: 300px;
        background-image: linear-gradient(to top, rgba(0, 60, 255, 0.603), rgba(0, 60, 255, 0.836)), url(src/assets/images/halfcard.jpg);
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .banner span {
        top: 15%;

    }

    .main {
        margin: 0 auto 10%;

    }

    .profile {
        width: 100%;
        margin: 0 auto 20%;
    }

}

@media (max-width: 425px) {

    .banner {

        width: 100%;
        height: 300px;
        background-image: linear-gradient(to top, rgba(0, 60, 255, 0.603), rgba(0, 60, 255, 0.836)), url(src/assets/images/halfcard.jpg);
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .banner span {
        top: 30%;

    }

    .main {
        margin: 0 auto 20%;

    }

    .profile {
        width: 100%;
        margin: 0 auto 100%;
    }

}

@media (max-width: 375px) {}