
 
   <div class="title">

    <h2>What Our Client's Say...</h2>
</div>
 <div class="tcont">

  
    <div class="wrapper">
        <div class="outer">
          <div class="card" style="--delay:-1;">
            <div class="content">
              <div class="img"><img src="assets/images/jemima.jpg" alt=""></div>
              <div class="details">
                <span class="name">Customer 1</span>
                <p>IT Engineer</p>
              </div>
            </div>
            <p>TAG delivers their services professionally and also to customer's satisfaction</p>
          </div>
          <div class="card" style="--delay:0;">
            <div class="content">
              <div class="img"><img src="assets/images/jemima.jpg" alt=""></div>
              <div class="details">
                <span class="name">Customer 2</span>
                <p>Network Engineer</p>
              </div>
            </div>
            <p>TAG delivers their services professionally and also to customer's satisfaction</p>
          </div>
          <div class="card" style="--delay:1;">
            <div class="content">
              <div class="img"><img src="assets/images/jemima.jpg" alt=""></div>
              <div class="details">
                <span class="name">Customer 3</span>
                <p>Applications Manager</p>
              </div>
            </div>
            <p>TAG delivers their services professionally and also to customer's satisfaction</p>
          </div>
          <div class="card" style="--delay:2;">
            <div class="content">
              <div class="img"><img src="assets/images/jemima.jpg" alt=""></div>
              <div class="details">
                <span class="name">Justin Chung</span>
                <p>HOD IT</p>
            </div>
            </div>
            <p>TAG delivers their services professionally and also to customer's satisfaction</p>
          </div>
          <div class="card" style="--delay:2;">
            <div class="content">
              <div class="img"><img src="assets/images/jemima.jpg" alt=""></div>
              <div class="details">
                <span class="name">Adrina Calvo</span>
                <p>Teacher & Advertiser</p>
              </div>
            </div>
            <p>TAG delivers their services professionally and also to customer's satisfaction</p>
          </div>
        </div>
      </div>
    
 </div>
