<section class="footer-section">

    <div class="mainfooter">

        <div class="subfooter">

            <div class="column qrst">
                <img src="assets/images/officialogowhite.png" alt="">

                <div class="social_media">
                    <ul>
                        <li><a href="https://www.facebook.com/techadgh"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/techadgh"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com/techadgh"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/technology-advantage-group/mycompany"><i
                                    class="fa fa-linkedin"></i></a></li>

                    </ul>
                </div>
            </div>

            <!-- duplicate -->
            <!-- <div class="column">


                <div><br>
                    <ul>
                        <li>PARTNERSHIPS</li>
                        <li><a>Netgate</a></li>
                        <li><a>Wasp</a></li>
                        <li><a>Midwex</a></li>
                        <li><a>Keysight</a></li>
                        <li><a>Oracle</a></li>
                        <li><a>Kaladi</a></li>

                    </ul>
                </div>
            </div> -->
            <!-- duplicate -->
            <div class="column">


                <div><br>
                    <ul>
                        <li>MAIN LINKS</li>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/consultancy-services">Consultancy Services</a></li>
                        <!-- <li><a href="#">Technical Services</a></li> -->
                        <li><a href="/technical-services">Technical Services</a></li>
                        <li><a href="/partnerships">Partnerships</a></li>
                        <li><a href="/faq">FAQs</a></li>
                        <li><a href="/contactus">Contact Us</a></li>

                    </ul>
                </div>
            </div>

            <!-- duplicate -->
            <div class="column">


                <div><br>
                    <ul>
                        <li>OTHER LINKS</li>
                        <li><a (click)="open(content)">Privacy Policy</a></li>
                        <li><a href="/blog">News & Other Events</a></li>
                        <li><a href="/blog-csr">CSR Activities</a></li>
                        <li><a href="/album">Gallery</a></li>
                        <li><a href="/netgate"> Buy</a></li>
                        <li><a href="/track-my-order">Track Order</a></li>
                        <li><a></a></li>

                    </ul>
                </div>
            </div>

            <!-- duplicate -->


            <div class="column">

                <div><br>
                    <ul>

                        <li> ADDRESS <br>
                            Urban Square,
                            15B Ablade Road,
                            Kanda Accra.</li>

                        <li> Phone: <br>
                            +233 (30) 223 8878
                        </li>

                        <li><a style="text-transform:lowercase" onclick='location.href="mailto:info@techadgroup.com"'>
                                Email: <br>
                                info@techadgroup.com


                            </a></li>
                    </ul>
                </div>

            </div>

        </div>

    </div>

    <div class="foot1">
        <div class="foot">


            <footer>
                Copyright © 2020 - 2023 TAG.

            </footer>
        </div>
    </div>


</section>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-body center">
        <button type="button" class="btn-close" style="display: flex; margin: 0 95% 0;" aria-label="Close"
            (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="article">
            <h3>PRIVACY POLICY</h3>


            <span class="written">

                TAG Official Website. (“we”. “our”, or “us”) is committed to protecting your privacy. This Privacy
                Policy explains how your personal information is collected, used, and disclosed by TAG Official Website.
                <br><br>

                This Privacy Policy applies to our website, www.techadgroup.com , and its associated subdomains
                (collectively, our “Service”). By accessing or using our Service, you signify that you have read,
                understood, and agreed to our collection, storage, use and disclosure of your personal information as
                described in this Privacy Policy and our Terms of Service.



                <h3> Definitions and key terms</h3>
                For this Privacy Policy:

                <ul>
                    <li>
                        Cookie: small amount of data generated by a website and saved by your web browser. It is used to
                        identify your browser, provide analytics, remember information about you such as your language
                        preference or contact details.

                    </li>
                    <li>
                        Personal Data: any information that directly, indirectly, or in connection with other
                        information.

                    </li>
                    <li>
                        Service: refers to the service provided by TAG Official Website as described on the relative
                        terms (if available) and on this platform.

                    </li>
                    <li>
                        Third-party service: refers to advertisers, contest sponsors, promotional and marketing
                        partners, and others who provide our content or whose products or services we think may interest
                        you.

                    </li>
                    <li>
                        Website: TAG Official Website’s site, which can be accessed via this URL: www.techadgroup.com

                    </li>
                    <li>
                        You: a person or entity that is registered with TAG Official Website to use the Services.

                    </li>
                </ul>

                <h3>What Information do we collect?</h3><br>

                We collect information from you when you place an order, subscribe to our newsletter, respond to a
                survey or fill out a form:

                <ul>
                    <li>Name</li>
                    <li>Email</li>
                    <li>Phone Number</li>
                </ul>


                <h3>How do we use the information we collect?</h3>

                Any information we collect from you may be used in one of the following ways:

                <ul>
                    <li>
                        To personalize your experience (your information helps us to better respond to your individual
                        needs).
                    </li>
                    <li>
                        To improve on our services (we continually strive to improve our service offerings based on the
                        information and feedback we receive from you).
                    </li>

                    <li>
                        To improve customer service requests and support needs.
                    </li>

                    <li>
                        To process transactions.
                    </li>

                    <li>
                        To administer a survey
                    </li>

                    <li>
                        To send periodic emails.
                    </li>

                </ul>

                <h3>Do we share the information we collect with third parties?</h3>

                We may share the information that we collect, both personal and non-personal, with third parties such as
                advertisers, promotional and marketing partners, and others who provide our content or whose products or
                services we think may interest you. We may also share it with our current and future affiliated
                companies and business partners, and if we are involved in a merger, asset sale or other business
                reorganization, we may also share or transfer your personal and non-personal information to our
                successors-in-interest. <br><br>

                We may engage trusted third-party service providers to perform functions and provide services to us,
                such as hosting and maintaining our servers and our service, database storage and management, e-mail
                management, storage marketing, customer service and fulfilling order of products and services you may
                purchase through our platform. We will likely share your personal information, and possibly some
                non-personal information, with these parties to enable them to perform these services for us and for
                you. <br><br>

                We may also disclose personal and non-personal information about you to government or law enforcement
                officials or private parties as we, in our sole discretion, believe necessary or appropriate in order to
                respond to claims, legal process (including subpoenas), to protect our rights and interests or those of
                a third party, the safety of the public or any person, to prevent to stop any illegal, unethical, or
                legally actionable activity, or to otherwise comply with applicable court orders, laws, rules and
                regulations. <br><br>

                <h3>Where and when is information collected from customers and end users?</h3>

                We will collect personal information that you submit to us. We may also receive personal information
                about you from third parties as describe above. <br><br>


                <h3>How Do We Use Your Email Address?</h3><br>


                By submitting your email address on this website, you agree to receive emails from us. You can cancel
                your participation in any of these email lists anytime by clicking on the opt-out link or other
                unsubscribe option that is included in the respective email. We only send mails to people who have
                authorized us to contact them, either directly, or through a third party. We do not send unsolicited
                commercial emails, because we hate spam as much as you do. Email addresses submitted only through the
                order processing page will be used for the sole purpose of sending you information and updates
                pertaining to your order. If, however you have provided the same email to us through another method, we
                may use it for any of the purposes stated in this Policy. <br><br>

                NB: If at anytime you would like to unsubscribe from receiving future emails, we include detailed
                “unsubscribe” instructions at the bottom of each email. <br><br>

                <h3>Cookies</h3><br>

                We use “Cookies” to identify the areas of our website that you have visited. A cookie is a small piece
                of data stores on your computer or mobile device by your web browser. We use Cookies to personalize the
                Content that you see on our website. Most web browsers can be set to disable the use of Cookies.
                However, if you disable Cookies, you may not be able to access functionality on our website correctly or
                at all. We never place Personally identifiable Information in Cookies. <br><br>

                <h3>Changes To Our Privacy Policy</h3><br>

                If we decide to change our privacy policy, we will post those changes on this page, and/or update the
                Privacy policy modification date below. <br><br>

                <h3>Contact Us</h3>

                Don’t hesitate to contact us if you have any questions. <br>
                <ul>
                    <li>Via Email: info@techadgroup.com</li>
                    <li>Via Phone Number +233 (30) 223 8878</li>
                </ul>






            </span>

        </div>

    </div>
</ng-template>