<div class="banner">
    <span>CONSULTANCY SERVICES</span>
</div>

<br>

<div class="mainfront animated1 fadeInLeft">
    <!-- <h3>
        DATA CENTRE CONSULTING
    </h3>

    <span class="written-text">
        Our data center consulting services are
        diverse, ranging from capacity planning
        driven by business requirements mapping
        to physical deployments within the IT
        stack, through implementation of specific
        solutions, such as cloud, managed services,
        disaster recovery, high availability, colocation,
        greenfield builds, etc.

    </span><br> -->



    <div class="points-box">

        <div class="point1">
            <img src="assets/images/integration.jpg" id="mm" alt="">
        </div>

        <div class="point2">


            <h3>
                TECHNOLOGY PROVISION AND IT CONSULTING
            </h3>
            <span>
                IT consulting services are at the core of every
                solution that we put together for our clients.
                Our consultants work closely with you to
                understand your exact business needs and
                requirements to develop and deploy tailored
                solutions that will help you reach your
                business objectives. <br><br>
                From small projects, to completely rethinking,
                planning or budgeting your IT needs for the
                future, we put our experience at work to find
                the right solutions for your business. Working
                with the best manufacturers in the industry
                gives us the possibility to define the best IT
                solutions and opportunities on the market
                for you. <br><br>
                Benefit from our expertise to find the right
                solution to your challenges and make IT work.
                We make sure everything we do is designed
                to answer your specific business needs, from
                small teams to national organizations.
            </span>
        </div>

    </div>

    <h3>Our IT Consulting Services Include:</h3>

    <!-- copy testimonials -->
    <section class="testimonial"><br>
        <div class="testament animated1 fadeInTop">

            <div class="testimonies">

                <div class="test-item animated1 fadeInLeft">
                    <div class="imgicon">
                        <img src="assets/images/1.png" alt="">
                    </div>
                    <div class="written-text">

                        <h2>Assessment and Analysis:</h2>

                        <span>
                            Understand your current situation as
                            we audit and evaluate your IT to guide
                            you towards the right solutions.
                        </span>
                    </div>
                </div>

                <div class="test-item animated1 fadeInRight">
                    <div class="imgicon">
                        <img src="assets/images/2.png" alt="">
                    </div>
                    <div class="written-text">
                        <h2>Strategic IT Planning:</h2>
                        <span>
                            Plan and
                            budget appropriately for the future
                            with a strategic IT plan, made to meet
                            your business objectives.
                        </span>
                    </div>
                </div>

                <div class="test-item animated1 fadeInTop">
                    <div class="imgicon">
                        <img src="assets/images/3.png" alt="">
                    </div>
                    <div class="written-text">
                        <h2>Project Management:</h2>
                        <span>
                            Benefit from
                            turnkey services and solutions as we
                            plan and manage everything for you,
                            according to your business reality.
                        </span>
                    </div>
                </div>


            </div>

        </div>

        <div class="testament animated1 fadeInRight">
            <!-- <img src="https://saasfluxgh.com/images/tagwebsite/tahi1.jpg" alt=""> -->
            <!-- <div class="boi1"> -->
            <!-- <img src="https://saasfluxgh.com/images/tagwebsite/yy.jpg" alt=""> -->

            <div class="test-item animated1 fadeInRight">
                <div class="imgicon">
                    <img src="assets/images/4.png" alt="">
                </div>
                <div class="written-text">
                    <h2>Knowledge Transfer:</h2>
                    <span>
                        Empower your
                        staff as we accompany them and
                        provide the right knowledge transfer
                        based on your IT requirements
                    </span>
                </div>
            </div>
            <div class="test-item animated1 fadeInRight">
                <div class="imgicon">
                    <img src="assets/images/5.png" alt="">
                </div>
                <div class="written-text">
                    <h2>IT Management:</h2>
                    <span>
                        Focus on your
                        business and your objectives while
                        our team manages your IT assets and
                        projects for you
                    </span>
                </div>
            </div>

            <div class="test-item animated1 fadeInRight">
                <div class="imgicon">
                    <img src="assets/images/6.png" alt="">
                </div>
                <div class="written-text">
                    <h2>Disaster Recovery:</h2>
                    <span>
                        Secure your data
                        with a tailored disaster recovery plan
                        designed to answer the specific needs
                        of our business.
                    </span>
                </div>
            </div>



        </div>


        <!-- </div> -->

    </section>

    <div class="points-box">

        <div class="point1">
            <img src="https://techadgroup.com/images/tagwebsite/dc.jpg" alt="">
        </div>

        <div class="point2" style="margin: auto;">


            <h3>
                DATA CENTRE CONSULTING
            </h3>
            <span>
                Our data center consulting services are
                diverse, ranging from capacity planning
                driven by business requirements mapping
                to physical deployments within the IT
                stack, through implementation of specific
                solutions, such as cloud, managed services,
                disaster recovery, high availability, colocation,
                greenfield builds, etc.
            </span>
        </div>

    </div>


    <!-- <div class="points-box">


        <div class="point2" style="margin: auto;">


            <h3>
                TECHNOLOGY BROKERAGE
            </h3>
            <span>
                We provide technology partnership for
                international technology companies seeking
                to implement Technology projects in Ghana.
                Our local Experience and pool of Engineers
                be it part time or full time will help the
                execution of your projects.
            </span>
        </div>

        <div class="point1">
            <img src="https://saasfluxgh.com/images/tagwebsite/greet.jpg" width="70%" alt="">
        </div>

    </div> -->


    <div class="points-box">
        <div class="point1">
            <img src="https://techadgroup.com/images/tagwebsite/ict.jpg" alt="">
        </div>
        <div class="point2" style="margin: auto;">


            <h3>
                ICT HARDWARE AND SOFTWARE CONSULTING
            </h3>
            <span>
                We source and install any ICT hardware and
                software for you or your business as we have
                a good relationship with most of the major IT
                vendors and distributors, therefore are able
                to provide you with a comprehensive service
                for most of your IT needs. This means you
                only need to work with one source rather
                than spend your valuable time chasing a
                multitude of suppliers. <br><br>
                With so many hardware and software
                products on the market these days, it can
                be time consuming and confusing to figure
                out which are best for your needs. TAG has
                done all the research and shopping for you.
                We offer reputable hardware, software,
                peripherals and any other computer-related
                items at prices that fit into your budget.
            </span>
        </div>



    </div>