<div class="banner">
    <span>PARTNERSHIPS</span>
</div>

<br>

<div class="main">


    <div class="bigbox">

        <div class="row">
            <div class="sub">

                <div>
                    <img src="assets/images/p5.png" alt="">

                </div>

                <div class="content">

                    <p>
                        Netgate is an open-source driven secure networking company
                        that provides high-performance and affordable appliance
                        and software-based firewall, virtual private network (VPN),
                        and routing solutions for home, office, and cloud.

                    </p>

                </div>

            </div>

            <div class="sub">

                <div>
                    <img src="assets/images/p2.png" alt="">

                </div>

                <div class="content">

                    <p>
                        Headquartered in the United Arab Emirates with offices in
                        Morocco and South-Africa, the name MidWex has stood
                        for a distinguished System Integrator of Information and
                        Communications Technologies. We help our customers by
                        delivering solutions that improve user experience and improve
                        operational efficiency.
                    </p>

                </div>

            </div>



            <!-- <div class="sub">
                <img src="assets/images/p4.png" alt="">

            </div> -->
            <!-- </div>
        <br>
        <div class="row"> -->
            <div class="sub">

                <div>
                    <img src="assets/images/p6.png" alt="">

                </div>

                <div class="content">

                    <p>
                        Wasp is a global leader in turnkey software and hardware
                        solutions, specializing in inventory management and asset
                        tracking applications.
                    </p>

                </div>

            </div>

            <div class="sub">

                <div>
                    <img src="assets/images/ckrlogo.png" alt="">

                </div>

                <div class="content">

                    <p>

                        CKR Consulting Engineers can address all your built environment engineering consultancy needs by
                        providing services in the Electrical, Mechanical, Civil, Structural, High Voltage, ICT
                        infrastructure and ELV fields.

                    </p>

                </div>

            </div>

            <div class="sub">

                <div>
                    <img src="assets/images/p9.png" alt="">

                </div>

                <div class="content">

                    <p>
                        Keysight is an American company that manufacture
                        electronics test and measurement equipment and software.
                    </p>

                </div>

            </div>

            <!-- <div class="sub">

                <div>
                    <img src="assets/images/p10.png" alt="">

                </div>

                <div class="content">

                    <p>
                        Based in Chennai with Operations in India, Nigeria, Ghana,
                        UAE, USA, UK and Singapore, Kāladi is a Gold Certified
                        Oracle Partner with a 7+ year of history with Oracle ERP
                        implementation and support. We are experts in delivering top
                        quality output within desired timeline.
                    </p>

                </div>

            </div> -->
        </div>



    </div>



</div>