<div class="banner">
    <span>CONTACT US</span>
</div>

<!-- <br> -->

<div class="main">

    <h3>Get in touch with us</h3>

    <span class="written-text">
        Call our support team anytime. We are always ready
        to help in any possible manner. 

    </span>

    <div class="mainpage">
        <div class="image animated1 fadeInLeft"><img src="assets/images/marcia.jpg" width="650px" height="450px"></div>
        <div class="writing animated1 fadeInRight">
            <div class="phone" style="border: none;">
                <div class="part2" style="text-align: center;">
                  Working Hours: Mondays - Fridays <br>
                  8:00am - 5:00pm GMT
                </div>
            </div>
            <div class="phone">
                <div class="part1"><img src="assets/images/phone.png" width="30"></div>
                <div class="part2">
                    0302238878
                </div>
            </div>
            <div class="phone">
                <div class="part1"><img src="assets/images/location.png" width="30"></div>
                <div class="part2">
                    Urban Square, 15B Ablade Road, Kanda, Accra</div>
            </div>
            <div class="phone">
                <div class="part1"><img src="assets/images/mail.png" width="30"></div>
                <div class="part2">
                    <a href="mailto:info@techadgroup.com"> Send us a mail</a>
                </div>

            </div>
            <div class="socials">
                <ul>
                    <li> <span id="ss">Follow us on social media: </span></li>
                    <li><a href="https://www.facebook.com/techadgh"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/techadgh"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/techadgh"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/technology-advantage-group/mycompany"><i
                                class="fa fa-linkedin"></i></a></li>
                </ul>


            </div>
        </div>
        <!-- <div class="image"><img src="assets/images/marcia.jpg" width="650px" height="450px"></div> -->

    </div>


</div>